/* Css reset script*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css reset script*/

html, body, main, .ck-carousels {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: #fff;
}

main {
  position: relative;
}

main.collapse {
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
}

main, .ck-sidebar {
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

main > * {
  position: absolute;
}

.ck-navbar {
  top: -100px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
  height: 100px;
  width: 100%;
  -webkit-transition: top .5s; /* Safari */
  transition: top .5s;
}

.ck-navbar.open{
  top: 0;
}

.ck-cover {
  bottom: -100%;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
}

.ck-cover.open{
  bottom: 0;
}

.ck-carousels {
  padding: 1px;
}

.ck-main-carousel {
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  width: 100%;
}

.ck-thumb-carousel {
  height: 100px;
  width: 100%;
}

.ck-thumb-carousel .carousel-item {
		width: 100px;
		height: 100px;
		margin: 0.5px;
}

.ck-main-carousel .carousel-item {
		width: 100%;
		height: 100%;
}

.ck-main-carousel .carousel-item .overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
}

.ck-thumb-carousel .carousel-item .overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
}

.ck-thumb-carousel .is-selected {
		border: 0.5px solid #fff;
}

.ck-thumb-carousel .is-selected .overlay{
		background-color: rgba(0,0,0,0.1);
}

.ck-hero {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.ck-sidebar {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo {
	float: left;
	margin-top: 20px;
	margin-left: 40px;
}
.logo img {
	height: 80px;
}

.ck-sidebar.open {
  right: 0px;
}

.ck-sidebar.open .ck-sidebar-content{
  right: 0;
}

.ck-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ck-hero-content img {
  margin-bottom: 50px;
}

.ck-hero-content button {
  padding: 20px 80px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
}

.ck-hero-content button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.ck-hero p {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
  color: #fff;
  margin-bottom: 40px;
}
