/* Css reset script */
input[type='radio']html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

@font-face {
    font-family: 'otamaepregular';
    src: url('../fonts/otama-ep-webfont.eot');
    src: url('../fonts/otama-ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/otama-ep-webfont.woff2') format('woff2'),
         url('../fonts/otama-ep-webfont.woff') format('woff'),
         url('../fonts/otama-ep-webfont.ttf') format('truetype'),
         url('../fonts/otama-ep-webfont.svg#otama.epregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css reset script*/

html, body, main, .ck-carousels {
  width: 100%;
  height: 100%;
  overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
  position: relative;
  background-color: #fff;
}

main {
  position: relative;
}

main.collapse {
  width: -moz-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
}

main, .ck-sidebar {
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

main > * {
  position: absolute;
}

.hidden {
	display: none;
}

.ck-navbar {
  top: -100px;
  /*background-color: rgba(255, 255, 255, 0.3);*/
  height: 100px;
  width: 100%;
  -webkit-transition: top .5s; /* Safari */
  transition: top .5s;
}

.ck-navbar.open{
  top: 0;
}

.ck-cover {
  bottom: -100%;
  height: 100%;
  width: 100%;
}

.ck-cover.open{
  bottom: 0;
}

.ck-carousels {
  padding: 1px;
}

.ck-main-carousel {
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  width: 100%;
}

.ck-thumb-carousel {
  height: 100px;
  width: 100%;
}

.ck-main-carousel .carousel-item .details {
	display: none;
	position: absolute;
	bottom: 10%;
	left: 5%;
	text-align: left;
	width: 100%;
}

.ck-main-carousel .carousel-item .details .title{
	font-size: 80px;
    font-family: 'otamaepregular', serif;
    font-weight: normal;
    letter-spacing: -2px;
	color: #fff;
	padding: 10px 0;
    margin: 0;
}

.ck-main-carousel .carousel-item .details .description{
	display: inline-block;
	width: 60%;
	max-width: 600px;
	color: #fff;
	font-size: 40px;
	font-weight: 100;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
	font-style: italic;
	padding: 10px 0;
    margin: 0;
}

.ck-main-carousel .carousel-item .details .amount{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0px;
	padding: 20px 5px;
    margin: 0;
}

.order-form{
	padding: 10px 15px;
    text-align: center;
}

.order-form .title{
	font-size: 50px;
	font-weight: normal;
    font-family: 'otamaepregular', serif;
    letter-spacing: -2px;
	color: #8C4600;
	padding: 20px 0;
    margin: 5px 0;
}

.order-form .description{
	color: #000;
	font-size: 24px;
	font-weight: 300;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
	padding: 10px 0;
    margin: 5px 0;
}

.ck-thumb-carousel .carousel-item {
		width: 100px;
		height: 100px;
		margin: 0.5px;
}

.ck-main-carousel .carousel-item {
		width: 100%;
		height: 100%;
		margin: 0 0.5px;
}

.ck-main-carousel .carousel-item .overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
        transition: 0.3s;
}

.ck-thumb-carousel .carousel-item .overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.5);
}

.ck-thumb-carousel .carousel-item:hover .overlay{
    background-color: rgba(0,0,0,0.3);
}

.ck-thumb-carousel .is-selected {
		border: 0.5px solid #fff;
}

.ck-thumb-carousel .is-selected .overlay{
	background-color: rgba(0,0,0,0);
}

.ck-sidebar {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
	overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo {
	float: left;
	margin-top: 30px;
	margin-left: 5%;
}
.logo img {
	height: 50px;
    opacity: 0.4;
}

.ck-sidebar.open {
  right: 0px;
}

.ck-sidebar.open .ck-sidebar-content{
  right: 0;
}

.ck-hero {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.ck-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ck-hero-content img {
  /*margin-bottom: 30px;*/
  width: 400px;
  height: auto;
}

.ck-hero-content button, .details button, .order-form button {
  padding: 20px 60px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  text-transform: uppercase;
  transition: 0.4s;
}

.ck-hero-content button {
   color: #8C4600;
   border-color: #8D4600;
}

.order-form button {
	background-color: #8C4600;
	width: 100%;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.ck-hero-content button:hover, .details button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.ck-hero-content button:hover {
   color: #fff;
   background-color: #8C4600;
}

.ck-hero p {
  font-size: 50px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
  color: #8D4600;
  margin-bottom: 40px;
}

input[type='radio'] {
    appearance: none;
	-webkit-appearance: none;
    outline: none;
	position: relative;
	background-color: #fafafa;
	border: 1px solid #cacaca;
	padding: 16px;
	border-radius: 20px;
	vertical-align: middle;
}

input[type='radio']:checked:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	border-radius: 12px;
	background: #8C4600;
	border: 1px solid #cacaca;
}

.order-form p, .order-form label, .response {
	margin: 10px;
	color: #000;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
	letter-spacing: 0px;
}

.order-form .amount, .response {
	color: #8C4600;
	font-size: 28px;
    font-weight: 500;
    margin: 30px;
}

.response {
	margin-top: 40px;
}

hr {
	margin: 40px 20px;
}

@media only screen and (max-width: 767px) {
	.ck-sidebar {
		width: 60%;
	}

	.ck-sidebar.open, .ck-sidebar.open .ck-sidebar-content {
	  right: 0;
	}

	main.collapse {
	  width: 40%;
	}
}
